@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "swiper";
@import "fonts";
@import "datepicker";
@import "draftEditor";

@layer base {
  body {
    @apply font-inter
  }

  .disable-scroll {
    overflow: hidden;
  }

  svg {
    @apply fill-current
  }

  ul, ol {
    @apply list-none p-0 m-0;
  }

  li {
    @apply list-none;
  }

  input:-webkit-autofill {
    background-color: transparent;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active{
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
  }
}

@layer components {
  .form {
    @apply flex flex-col gap-4 px-4 max-w-[422px] mx-auto break-all sm:break-normal
    md_h:gap-[14px]
  }

  .form_link {
    @apply text-gold text-center font-inter font-medium text-17 underline underline-offset-2
  }

  .avatar {
    @apply object-contain bg-noir-soft p-14 md:p-20
  }
}