@mixin btn {
  @apply text-base font-q-700 2xl:text-lg
}
.icon {
  svg {
    width: 100%;
  }

  @apply p-2 w-[28.56px] h-[27px] text-blue bg-white
  md:w-10 md:h-[38px] md:p-3
  lg:w-11 lg:h-[41px] lg:p-3.5
  2xl:w-[55px] 2xl:h-[52px] 2xl:px-5 2xl:py-4
}

.primary {
  @include btn;
  @apply px-2 py-[6px] text-white shadow-btn shadow-blue/80 bg-blue font-normal
  md:px-[26px] md:py-[9px]
  lg:px-[30px] lg:py-2.5
  2xl:px-11 2xl:py-3

}

.transparent {
  @include btn;
  @apply px-8 py-3 border-2 border-solid border-white text-white bg-transparent rounded-10
  xl:text-lg xl:px-11 xl:py-5
}

.white {
  @apply px-[18px] py-3.5  text-blue bg-white font-bold text-sm
  lg:px-4 lg:py-3
  2xl:px-[42px] 2xl:py-5 2xl:text-base
}

.yellow {
  @apply bg-yellowish rounded-10 text-black text-17 font-q-600 px-3 pt-[13px] pb-[14px] flex-center
}

.md {
  @apply text-sm pt-[9px] pb-2.5 pr-4 pl-[19px]
  md:text-17 md:pt-3 md:pb-4 md:pr-[27px] md:pl-[31px]
  lg:text-lg lg:pt-4 lg:pb-[15px] lg:px-[46px]
  2xl:text-lg 2xl:pt-[21px] 2xl:pb-5 2xl:px-[62px]
}

.sm {
  @apply px-[18px] py-3.5 text-sm
  lg:px-4 lg:py-3
  2xl:px-[42px] 2xl:py-5 2xl:text-base
}
